// Colors
$primary: #fbcf7f;

$grey-darker:  #101010;
$grey-dark:    #303030;
$grey:         #828383;
$grey-light:   #cccdce;
$grey-lighter: #e8e9eb;


@mixin layer {
  position: absolute;
  top: 0;
  width: 100%;
}
@mixin layer-fl { @include layer; left: 0; }
@mixin layer-fr { @include layer; right: 0; }
